openapi: 3.0.4
info:
  title: Website to PDF
  description: >-
    Website to PDF is a simple tool for converting a website to PDF. It returns
    the PDF file generated from the website.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/websitetopdf:
    post:
      summary: Convert Website to PDF
      description: Convert a website to a PDF file
      operationId: websitetopdf
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  marginLeft: 0.4in
                  marginRight: 0.4in
                  marginTop: 0.4in
                  marginBottom: 0.4in
                  landscape: false
                  pdfName: 128deceb-c515-444b-8863-82cb3f6ba632.pdf
                  expires: 1766097122116
                  url: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/concepts
                  downloadURL: >-
                    https://storage.googleapis.com/apiverve-helpers.appspot.com/websitetopdf/128deceb-c515-444b-8863-82cb3f6ba632.pdf?GoogleAccessId=1089020767582-compute%40developer.gserviceaccount.com&Expires=1766097122&Signature=LI747FKqKj5i5TYX3KIoVy%2FHgXsLOSXfVEUM0Ekqz2SiiYOZWuk3Of7QBDUklSrcbjiHV0AjbzFTKt6oDU83UkN282HbmhxwrolN6v1Zb9twVi1y7gmTpapCiJi%2BpA1r89ioe%2Fe0%2FV7KrIWaqsorzpdJrnMqe2izMWBaZq%2FYkSO2qlwSyhg2R8EsfxYNAANtd%2FuNS0RuIzqTdhNCiTrRirnDAKS3dMCySQJRznHFnyqzNj1OXwVjvdpSMn9XhWCUa%2FDRR8q%2BE9B0yF8eTvIrDSe2OzJT%2FJLc9rxcLfXAny21gtNqrzMJPU4yM9Ge%2BEbepmDnNZf9xpODNsnq5eLF0g%3D%3D
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The URL of the website to convert to PDF
                marginTop:
                  type: number
                  description: The top margin of the PDF in inches (e.g., 0.4)
                marginRight:
                  type: number
                  description: The right margin of the PDF in inches (e.g., 0.4)
                marginBottom:
                  type: number
                  description: The bottom margin of the PDF in inches (e.g., 0.4)
                marginLeft:
                  type: number
                  description: The left margin of the PDF in inches (e.g., 0.4)
                landscape:
                  type: boolean
                  description: Set to true for landscape orientation
              required:
                - url
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  marginTop: 0.4
  marginBottom: 0.4
  marginLeft: 0.4
  marginRight: 0.4
  landscape: false
  url: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/concepts
